In [148]:
import numpy as np

In [149]:
import pandas as pd

In [150]:
import difflib

In [151]:
from fuzzywuzzy import process, fuzz

In [152]:
fuzz.token_sort_ratio

In [153]:
difflib.get_close_matches

In [154]:
df = pd.read_excel (r'/Users/faaizahdesai/Desktop/Sorted.xlsx', sheet_name = 'Ontario')

In [155]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [156]:
df.head()

,University name,Type,Program name,Program Code,Common,Postal Code,Admissions Requirements (*) (All Ontario University programs require 6 Grade 12 U/M courses to apply to University),Additional Requirements,Additional application fees ($),Admission Standards (%),Is Applicant Ranking valuable?,Proof,Size,Co-op availability,Scholarship availabiliy,Source,Source.1,Additional application information,Additional Application source
0,Ryerson University,Business,Accounting & Finance (BComm),SBO,NaN,M5B 2K3,"ENG4U or EAE4U,MHF4U,MCV4U",NaN,NaN,80-86,No,Does not indicate,406,yes,yes,https://www.ryerson.ca/programs/undergraduate/...,https://www.ontariouniversitiesinfo.ca/program...,Do not submit non-academic material until afte...,NaN
1,Ryerson University,Engineering,Aerospace Engineering (BEng),SAA,NaN,M5B 2K3,"ENG4U or EAE4U,MHF4U,MCV4U,SPH4U,SCH4U",NaN,NaN,80-87,No,Does not indicate,139,yes,yes,https://www.ryerson.ca/programs/undergraduate/...,https://www.ontariouniversitiesinfo.ca/program...,Do not submit non-academic material until afte...,NaN
2,Ryerson University,Other,Architectural Science (BArchSc),SAD,NaN,M5B 2K3,"ENG4U or EAE4U,SPH4U,MCV4U OR MHF4U",On-campus evaluation session including portfo...,50,80,No,Does not indicate,120,yes,yes,https://www.ryerson.ca/programs/undergraduate/...,https://www.ontariouniversitiesinfo.ca/program...,Do not submit non-academic material until afte...,https://www.ryerson.ca/programs/undergraduate/...
3,Ryerson University,Social Science,Arts and Contemporary Studies (BA (Hons)),SCS,NaN,M5B 2K3,ENG4U or EAE4u,NaN,NaN,70-74,No,Does not indicate,139,not available,yes,https://www.ryerson.ca/programs/undergraduate/...,https://www.ontariouniversitiesinfo.ca/program...,Do not submit non-academic material until afte...,NaN
4,Ryerson University,Natural Sciences,Biology (BSc (Hons)),SBX,NaN,M5B 2K3,"ENG4U or EAE4U,MHF4U, 2 of SBI4U,SCH4U OR SPH4U",NaN,NaN,76-85,No,Does not indicate,172,yes,yes,https://www.ryerson.ca/programs/undergraduate/...,https://www.ontariouniversitiesinfo.ca/program...,Do not submit non-academic material until afte...,NaN

In [157]:
df2 = df[['University name','Program name','Program Code']].dropna()

In [158]:
df2.rename(columns = {'Program name':'Program'},inplace = True)

In [159]:
df2['Program'] = df2.Program.str.replace('BA-,?' , '')

In [160]:
df2['Program'] = df2.Program.str.replace('BA – ,?' , '')

In [161]:
df2['Program'] = df2.Program.str.replace('BA,?' , '')

In [162]:
df2['Program'] = df2.Program.str.replace('Bachelor of,?' , '')

In [163]:
df2['Program'] = df2.Program.str.replace('Applied,?' , '')

In [169]:
df2['Program'] = df2.Program.str.replace('BSc,?' , '')

In [173]:
df2['Program'] = df2.Program.str.replace('Co-op,?' , '')

In [179]:
df2.drop_duplicates(subset=['Program Code'],inplace = True)

In [181]:
df2.sort_values(by = 'Program').head()

,University name,Program,Program Code
919,Nipissing University,Arts,PA
1417,Wilfrid Laurier University – Waterloo Campus,Arts & Master of Arts ( & Masters),UMA
2964,Trent University,Arts & Science,RAC
961,Nipissing University,Arts in Criminal Justice,PAJ
966,Nipissing University,Arts in History with Orientation to a Master ...,PAH

In [175]:
for col in df2[['Program Code']]:
    df2[col] = df2[col].str.strip()
    print('Number of unique values in ' + str(col) +': ' + str(df2[col].nunique()))

Number of unique values in Program Code: 1501

In [182]:
unique_name = df2['Program Code'].tolist()
sorted(unique_name).head()

AttributeError: 'list' object has no attribute 'head'

In [167]:
process.extract('Accounting',unique_name, scorer = fuzz.token_sort_ratio)

[('Accounting', 100),
 ('Accounting', 100),
 ('Accounting', 100),
 ('Acting', 75),
 ('Computing', 74)]

In [168]:
process.extract('Computer Science',unique_name, scorer = fuzz.token_sort_ratio)

[('Computer Science', 100),
 ('Computer Science ()', 100),
 ('Computer Science', 100),
 ('Computer Science', 100),
 ('Computer Science', 100)]